<!-- List of orders -->
<div class="container">
    <!-- Add Employee -->
    <!-- <div class="header">
        <a [routerLink]="['/employees/add']" role="button" class="btn btn-outline-primary custom-margin">
            <span><i class="fa fa-user-plus fa-lg"></i></span>
            <br>Add Employee</a>&nbsp;
    </div> -->
    <table class="table table-striped table=bordered">

        <thead>
            <tr>
                <th>Asset Defintion ID</th>
                <th>Asset Name</th>
                <th>Asset Type Id</th>
                <th>Asset Type Name</th>
                <th>Asset Class Name</th>
                <th>Action</th>
            
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let assetitem of assetService.assetdefinition">
                <td>{{assetitem.assetId}}</td>
                <td>{{assetitem.adName}}</td>
               <td>{{assetitem.assetId}}</td>
                <!-- <td>{{assetitem.assettype.assetType}}</td>
                <td>{{assetitem.assetclass.assetClass}}</td> -->
                <td><button type="button" class="btn btn-sm btn-outline-info" (click)="updateEmployee(employee)"><i
                            class="fa fa-edit"></i></button>
                    &nbsp;<button type="button" class="btn btn-sm btn-outline-danger">X</button></td>
                <!-- <td><button type="button" class="btn btn-sm btn-outline-info" (click)="updateEmployee(employee)"><i
                            class="fa fa-edit"></i></button>
                    &nbsp;<button type="button" class="btn btn-sm btn-outline-danger">X</button></td> -->

            </tr>

        </tbody>

    </table>
</div>