<div class="container">
    <div>
        <h2>Login</h2>
        <hr>
        <form [formGroup]="loginform" (ngSubmit)="loginCredentials()">
            <!-- username -->
            <div class="form-group">
                <input type="text" placeholder="Enter username"
                formControlName="userName"
                class="form-control"/>
            </div>
            <!-- validation message -->
            <div *ngIf="isSubmitted && formControls.userName.errors">
                <div class="errors" *ngIf="formControls.userName.errors.required">
                    Username is invalid or required
                </div>
            </div>
            <br>
            <!-- password -->
            <div class="form-group">
                <input type="password" placeholder="Enter password"
                formControlName="password"
                class="form-control"/>
            </div>
            <!-- validation message -->
            <div *ngIf="isSubmitted && formControls.password.errors">
                <div class="errors" *ngIf="formControls.password.errors.required">
                    Password is invalid or required
                </div>
            </div>
            <br>
            <!-- Submit Button -->
            <br>
            <div>
                <button type="submit" class="btn btn-primary form-control"
                >Submit</button>
            </div>
            <div class="validation-error" *ngIf="error">
                {{error}}
            </div>
        </form>
    </div>
</div>