.custom-container {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #dfdfdf;
    padding: 3%;
    border-radius: 30px;
    width: 35vw;    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.pill-button{
    border-radius: 50px;
    width:fit-content
}
.error{
    text-align: left;
}
