<div class="container custom-container">
    <div>
    <img src="../../assets/logo.png" alt="Logo" width="200px">
    <h1>Qashqai Asset Pro</h1>
    <hr>
    <br>
</div>
    <div>
        <form [formGroup]="loginform" (ngSubmit)="loginCredentials()">
            <!-- username -->
            <div class="form-group">
                <input type="text" placeholder="Enter username"
                formControlName="userName"
                class="form-control rounded-pill"/>
            </div>
            <!-- validation message -->
            <div *ngIf="isSubmitted && formControls.userName.errors">
                <div class="validation-error error" *ngIf="formControls.userName.errors.required">
                    Username is invalid or required
                </div>
            </div>
            <br>
            <!-- password -->
            <div class="form-group">
                <input type="password" placeholder="Enter password"
                formControlName="password"
                class="form-control rounded-pill"/>
            </div>
            <!-- validation message -->
            <div *ngIf="isSubmitted && formControls.password.errors">
                <div class="validation-error error" *ngIf="formControls.password.errors.required">
                    Password is invalid or required
                </div>
            </div>
            <br>
            <!-- Submit Button -->
            <br>
            <div>
                <button type="submit" class="btn btn-primary form-control pill-button"
                >Submit</button>
            </div>
            <div class="validation-error error" *ngIf="error">
                {{error}}
            </div>
        </form>
    </div>
</div>