<div class="'container">
    <h3>New Asset Info</h3>
    <hr>
    <!-- Template Driven Form -->
    <form name="frmData" #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form) ">
        <!-- Asset Master ID Id -->
        <div class="form-group">
            <input type="hidden" readonly name="amId" [(ngModel)]="assetmasterService.formAssetMasterData.amId" />
        </div>
        <!-- Asset Type -->
        <!-- <div class="form-group">
            <label>AssetType Name</label>
            <select name="assetId" id="assetId" #assetId="ngModel"
                [(ngModel)]="assetmasterService.formAssetMasterData.assetId" class="form-control">
                <option value=0 selected disabled>---Select Asset Type-----------</option>
                <option *ngFor="let asset of assetmasterService.asset" value="{{asset.assetId}}">
                    {{asset.assetType}}
                </option>
            </select>
        </div> -->
        <!-- Vendor ID -->
        <!-- <div class="form-group">
            <label>Vendor Name</label>
            <select name="vendorId" id="vendorId" #vendorId="ngModel"
                [(ngModel)]="assetmasterService.formAssetMasterData.vendorId" class="form-control">
                <option value=0 selected disabled>---Select Vendor-----------</option>
                <option *ngFor="let vendor of assetmasterService.vendors" value="{{vendor.vendorId}}">
                    {{vendor.vendorName}}
                </option>
            </select>
        </div>  -->
        <!-- Asset Definition ID -->
         <!-- <div class="form-group">
            <label>Asset Name</label>
            <select name="adId" id="adId" #vendorId="ngModel"
                [(ngModel)]="assetmasterService.formAssetMasterData.adId" class="form-control">
                <option value=0 selected disabled>---Select Asset-----------</option>
                <option *ngFor="let asset of assetmasterService.assetdefinition" value="{{asset.adId}}">
                    {{asset.adName}}
                </option>
            </select>
        </div> -->
        <!-- Model Name  -->
        <div class="form-group">
        <label>Model Name</label>
        <input name="model" #model="ngModel" [(ngModel)]="assetmasterService.formAssetMasterData.model"
            class="form-control" placeholder="Enter the model Name" minlength="3" maxlength="25"
            required  [ngClass]="{'is-invalid': model.touched && model.invalid }"
        />

        <!-- validation Error Message -->
            <div class="validation-error" *ngIf="model.touched && model.invalid">
                <div *ngIf="model.errors.required">
                    Model Name is invalid or required!
                </div>
            </div>
        </div>
        <!-- Serial Number -->
        <div class="form-group">
        <label>Serial Number</label>
        <input name="serialNumber" #serialNumber="ngModel" 
        [(ngModel)]="assetmasterService.formAssetMasterData.serialNumber" class="form-control" placeholder="Enter the serial Number" type="number" required  [ngClass]="{'is-invalid': serialNumber.touched && serialNumber.invalid }"/>
        <!-- validation Error Message -->
            <div class="validation-error" *ngIf="serialNumber.touched && serialNumber.invalid">
                <div *ngIf="serialNumber.errors.required">
                    serial Number is invalid or required!
                </div>
            </div>
        </div>
        <!-- MFD -->
        <div class="form-group">
            <label>Manifacture Date</label>
            <input name="yearOfManifacture" #yearOfManifacture="ngModel" type="date" 
            [(ngModel)]="assetmasterService.formAssetMasterData.yearOfManifacture"  class="form-control" placeholder="enter Manicature Date" required
                [ngClass]="{'is-invalid':yearOfManifacture.touched && yearOfManifacture.invalid}" /> 
            <!-- Validation Error Message -->
            <div class="validation-error" *ngIf="yearOfManifacture.touched && yearOfManifacture.invalid">
                <div *ngIf="yearOfManifacture.errors.required">
                    Manifacture Date is invalid or required!</div>
            </div>
        </div> 
        <!-- Purchase Date -->
        <div class="form-group">
            <label> Purchase Date</label>
            <input name="purchaseDate" #purchaseDate="ngModel" type="date" [(ngModel)]="assetmasterService.formAssetMasterData.purchaseDate"
                class="form-control" placeholder="enter Purchase Date" required
                [ngClass]="{'is-invalid':purchaseDate.touched && purchaseDate.invalid}" />
            <!-- Validation Error Message -->
            <div class="validation-error" *ngIf="purchaseDate.touched && purchaseDate.invalid">
                <div *ngIf="purchaseDate.errors.required">
                    Purchase Date is invalid or required!</div>
            </div>
        </div> 
        <!-- Warranty -->
        <div class="form-group">
            <label>Warranty</label>
            <select name="warranty" id="warranty" #warranty="ngModel"
                [(ngModel)]="assetmasterService.formAssetMasterData.warranty" class="form-control">
                <option value='0' selected disabled>---Select Asset Type-----------</option>
                <option value='Y'>Yes</option>
                <option value='N'>No</option>
            </select>
        </div>
        <!-- Warranty From -->
        <div class="form-group">
            <label> Warranty From Date</label>
            <input name="warrantyFrom" #warrantyFrom="ngModel" type="date" [(ngModel)]="assetmasterService.formAssetMasterData.warrantyFrom"
                class="form-control" placeholder="enter Warranty from Date" required
                [ngClass]="{'is-invalid':warrantyFrom.touched && warrantyFrom.invalid}" />
            <!-- Validation Error Message -->
            <div class="validation-error" *ngIf="warrantyFrom.touched && warrantyFrom.invalid">
                <div *ngIf="warrantyFrom.errors.required">
                    Warranty from Date is invalid or required!</div>
            </div>
        </div>
        <!-- Warranty To -->
        <div class="form-group">
            <label> Warranty To Date</label>
            <input name="warrantyTo" #warrantyTo="ngModel" type="date" [(ngModel)]="assetmasterService.formAssetMasterData.warrantyTo"
                class="form-control" placeholder="enter Warranty to Date" required
                [ngClass]="{'is-invalid':warrantyTo.touched && warrantyTo.invalid}" />
            <!-- Validation Error Message -->
            <div class="validation-error" *ngIf="warrantyTo.touched && warrantyTo.invalid">
                <div *ngIf="warrantyTo.errors.required">
                    Warranty to Date is invalid or required!</div>
            </div>
        </div>
        <!-- isTaken -->
       <div class="form-group">

            <div class="form-check">
                <input type="checkbox" name="taken" #taken="ngModel"
                    [(ngModel)]="assetmasterService.formAssetMasterData.taken" class="form-check-input custom-checkbox" />
                <label class="form-check-label">Is taken</label>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-lg btn-primary form-control"
                [disabled]="!(form.valid && form.dirty)">INSERT</button>
    </form>
</div>