<div class="container">
    <!--add assets-->
    <div class="header">
        <a [routerLink]="['/asset/add']" role="button" class="btn btn-outline-primary custom-margin">
            <span><i class="fa fa-user-plus fa-lg"></i></span>
            <br>Add Assets</a>&nbsp;
    </div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Vendor Name</th>
                <th>Vendor Type</th>
                <th>Asset Id</th>
                <th>Date Valid From</th>
                <th>Date Valid To</th>
                <th>Address</th>
                <th>Action</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let vendor of vendorService.vendors">
                <td>{{vendor.vendorId}}</td>
                <td>{{vendor.vendorName}}</td>
                <td>{{vendor.vendorType}}</td>
                <td>{{vendor.assetId}}</td>
                <td>{{vendor.dteValidFrom|date:"dd-MMM-yyyy"}}</td>
                <td>{{vendor.dteValidTo|date:"dd-MMM-yyyy"}}</td>
                <td>{{vendor.address}}</td>
                <td><button type="button" class="btn btn-sm btn-outline-info"(click)="updateVendor(vendor)"><i class="fa fa-edit"></i></button>
                    &nbsp;<button type="button" class="btn  btn-sm btn-danger"(click)="deleteEmployee(employee.id)"><i class="fa fa-trash"></i></button>
                    <!-- &nbsp;<button type="button" class="btn  btn-sm btn-danger"(click)="disableEmployee(employee.id)"><i class="fa-solid fa-ban"></i></button></td> -->
                    <td><input type="checkbox" [checked]="vendor.active" disabled /></td>

            </tr>
    </table>
</div>
