<!-- NAVBAR -->
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="/assetmaster">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/assetmaster/neworders">New Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/assetmaster/pending">Pending Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/assetmaster/list">Asset Master List</a>
  </li>
</ul>
<!-- END OF NAVBAR -->
<router-outlet></router-outlet>