/* You can add global styles to this file, and also import other style files */
.custom-margin-search{
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    border-radius: 50px;
}
.custom-page{
    float: right;
}

.custom-checkbox{
    width: 18px;
    height: 18px;
}
.custom-margin{
    float:right;
    
}

.validation-error{
    color: red;
}

.heading {
    margin-top: 5%;
    padding-top: 2%;
    text-align: center;
}

.custom-container{
    background-color: rgb(235, 235, 235);
    border-radius: 35px;
    // padding-top: 1px;
}

.custom-button{
    width:10vw;
    margin-left: 40%;
    margin-right: 40%;
    padding-bottom: 15px;
}

.welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
