/* You can add global styles to this file, and also import other style files */
.custom-margin-search{
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    border-radius: 50px;
}
.custom-page{
    float: right;
}
<<<<<<< HEAD
.custom-checkbox{
    width: 18px;
    height: 18px;
}
.custom-margin{
    float:right;
    
=======

validation-error{
    color: red;
>>>>>>> ca9c6104236fa82c3cd2b80503a11d50905e7916
}