/* You can add global styles to this file, and also import other style files */
.custom-margin-search{
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    border-radius: 50px;
}
.custom-page{
    float: right;
}

.custom-checkbox{
    width: 18px;
    height: 18px;
}
.custom-margin{
    float:right;
    
}

.validation-error{
    color: red;
}

.nav-background{
    background-color: rgb(167, 165, 165);
}